<!DOCTYPE html>
<html>
<head>
    <title>Question Paper Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>

<header>
    <h1>Question Paper Management</h1>
</header>

<div class="container">

    <div class="user-info">
        <strong>Logged in User:</strong> {{ username }}
        <br>
        <strong>Role:</strong> {{ role }}
    </div>

    <h2>Manage Question Papers</h2>

    <table>

        <tr>
            <th>ID</th>
            <th>Question Paper</th>
            <th>Uploaded Time</th>
            <th>Integrity Hash</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for paper in papers %}

        <tr>

            <td>
                {{ paper["id"] }}
            </td>

            <td>
                {{ paper["title"] }}
            </td>

            <td>
                {{ paper["upload_time"] }}
            </td>

            <td>
                {{ paper["sha256_hash"][:16] }}...
            </td>

            <td>

                {% if paper["status"] == "Pending" %}

                    <span class="pending">
                        Pending
                    </span>

                {% elif paper["status"] == "Approved" %}

                    <span class="approve">
                        Approved
                    </span>

                {% elif paper["status"] == "Scheduled" %}

                    <span class="scheduled">
                        Scheduled
                    </span>

                {% elif paper["status"] == "Released" %}

                    <span class="released">
                        Released
                    </span>

                {% endif %}

            </td>

            <td>

                {% if role == "Officer" or role == "Admin" %}

                    {% if paper["status"] == "Pending" %}

                        <a href="/approve/{{ paper['id'] }}">
                            <button>
                                Approve
                            </button>
                        </a>

                    {% else %}

                        No Action

                    {% endif %}

                {% endif %}


                {% if role == "Controller" or role == "Admin" %}

                    {% if paper["status"] == "Approved" %}

                        <form
                            method="POST"
                            action="/schedule/{{ paper['id'] }}"
                        >

                            <input
                                type="datetime-local"
                                name="release_time"
                                required
                            >

                            <button type="submit">
                                Schedule Release
                            </button>

                        </form>

                    {% elif paper["status"] == "Scheduled" %}

                        Release Time:
                        {{ paper["release_time"] }}

                    {% else %}

                        No Action

                    {% endif %}

                {% endif %}

            </td>

        </tr>

        {% else %}

        <tr>
            <td colspan="6">
                No question papers available.
            </td>
        </tr>

        {% endfor %}

    </table>

    <a class="back" href="/dashboard">
        ← Back to Dashboard
    </a>

</div>

</body>
</html>
